@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans Korean", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 45px;
    background: #33363f;
    position: relative;
}

.header h1 {
    position: absolute;
    left: 50%;
    margin-left: -45px;
    top: 50%;
    margin-top: -22.5px;
}

.header h1 a {
    display: block;
    width: 90px;
    height: 45px;
    background: url(../images/img_header_logo.png) no-repeat;
    background-size: 90px 45px;
    text-indent: -99999px;
}

.header .m_menu {
    width: 45px;
    height: 45px;
    background: url(../images/bg_header_lnb.png) no-repeat;
    text-indent: -99999px;
    background-size: 45px 45px;
    position: absolute;
    left: 0;
    top: 0;
}

.header .m_search {
    width: 45px;
    height: 45px;
    background: url(../images/img_topSerch.png) no-repeat;
    text-indent: -99999px;
    background-size: 45px 45px;
    position: absolute;
    right: 0;
    top: 0;
}
.main{
    width: 100%;
}
.main .visual{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.main .visual img{
    width: 100%;
}