@media (min-width: 320px) and (max-width: 767px) {
    header {
        height: 50px;
        padding: 0 15px;
    }
    header .inner {
        width: 100%;
        height: 50px;
    }
    header .inner h1{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    header .inner ul.gnb{
        display: none; /* 모바일에서는 메뉴 숨김 */
    }
    .m_btn {
        display: block; /* 모바일 메뉴 버튼 표시 */
        width: 24px;
        height: 24px;
        background: url(../images/m_menu.png) no-repeat;
        background-size: 24px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-indent: -99999px; /* 텍스트 숨김 */
    }
    /* 메인 */
    main .visual img{
        width: 100%;
        height: auto;
    }
    main .txt p .show{
        display: block;
    }
    main .txt p em{
        display: none;
    }
}