@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "arial", "notn sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}
.header{
    width: 100%;
    height: 72px;
    background: #fff;
}
.header .inner{
    width: 1000px;
    height: 72px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.line{
    width: 100%;
    height: 4px;
    background: url(../images/bg_gnb.gif) no-repeat;
}
.main{
    width: 100%;
    height: 2200px;
    background: #fff;
}
.footer{
    width: 100%;
    height: 119px;
    background: #f8f8f8;
    border-top: 1px solid #dadedd;
}
.footer .inner{
    width: 1000px;
    height: 119px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}
.footer .inner .wrap ul{
    display: flex;
    flex-wrap: wrap;
    width: 610px;
    gap: 10px;
}
.footer .inner .wrap ul li a{
    font-size: 12px;
    color: #5e5a57;
    letter-spacing: -1px;
}
.footer .inner .wrap p{
    font-size: 12px;
    color: #5e5a57;
    margin-top: 13px;
}
.footer .inner .wrap ul li:first-child a,
.footer .inner .wrap ul li:nth-child(2) a,
.footer .inner .wrap ul li:nth-child(3) a,
.footer .inner .wrap ul li:nth-child(8) a,
.footer .inner .wrap ul li:last-child a{
    color: #264d78;
}
.footer .inner .group{
    display: flex;
    gap: 6px;
}
.footer .inner .group button{
    width: 140px;
    height: 25px;
    border: 1px solid #c6c7c9;
    background: #fff;
    font-size: 13px;
    color: #707070;
    text-align: left;
    text-indent: 8px;
    background: url(../images/ico_sel_arr.gif) no-repeat 90% center;
}
.footer .inner .group .family1{
    position: relative;
}
.footer .inner .group .family1 ul{
    width: 140px;
    height: 133px;
    border: 1px solid #c6c7c9;
    box-sizing: border-box;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 59px;
    text-indent: 10px;
    display: none;
    overflow: auto;
}
.footer .inner .group .family1 ul li a{
    color: #5e5a57;
    font-size: 13px;
}
.footer .inner .group .family1 ul li:hover a{
    color: #333;
    font-weight: 900;
}
.footer .inner .group .family1:hover ul{
    display: block;
}

.footer .inner .group .family2{
    position: relative;
}
.footer .inner .group .family2 ul{
    width: 140px;
    height: 133px;
    border: 1px solid #c6c7c9;
    box-sizing: border-box;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 59px;
    text-indent: 10px;
    display: none;
    overflow: auto;
}
.footer .inner .group .family2 ul li a{
    color: #5e5a57;
    font-size: 13px;
}
.footer .inner .group .family2 ul li:hover a{
    color: #333;
    font-weight: 900;
}
.footer .inner .group .family2:hover ul{
    display: block;
}