@charset "utf-8";
body{
    font-family: "맑은 고딕", "malgun gothic" sans-serif;
}
p{
    width: 600px;
    height: 600px;
    border: 5px solid red;
    margin: auto;
    overflow: hidden;
    overflow: auto;
    /* overflow: scroll; */
    /* overflow-y: scroll; */
    overflow-x: scroll;
}