@charset "UTF-8";

body {
    font-family: "맑은 고딕";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.section {
    width: 100%;
}

.section .inner {
    width: 1000px;
    height: 1003px;
    margin: auto;
    position: relative;
}

.section .inner .left {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -501.5px;
    margin-left: -73px;
    animation: left_ani 2s ease-in-out forwards;
}

@keyframes left_ani {
    0% {
        left: 50%;
    }

    100% {
        left: 30%;
    }
}

.section .inner .right {
    position: absolute;
    right: 50%;
    top: 50%;
    margin-top: -501.5px;
    margin-right: -73px;
    animation: right_ani 2s ease-in-out forwards;
}

@keyframes right_ani {
    0% {
        right: 50%;
    }

    100% {
        right: 30%;
    }
}

.section .inner .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.section .inner .title h2 {
    font-size: 32px;
    font-weight: 900;
    color: #333;
    line-height: 46px;
    opacity: 0;
    animation: h2_ani 1s ease-in-out forwards 2s;
}

@keyframes h2_ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.section .inner .title p {
    font-size: 16px;
    color: #999;
    line-height: 24px;
    opacity: 0;
    animation: p_ani 1s ease-in-out forwards 3s;
}

@keyframes p_ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.section .inner .title button {
    margin-top: 24px;
    opacity: 0;
    border: none;
    animation: button_ani 1s ease-in-out forwards 3.5s;
}

@keyframes button_ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}