@charset "utf-8";
body{
    font-family: "맑은 고딕", "Malgun Gothic";
}

div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.box1{
    background: red;
    position: absolute;
    left: 0;
    top: 0;
    position: static;
}
.box2{
    background: green;
}
.box3{
    background: blue;
    position: absolute;
    left: 500%;
    margin-left: -100px;
    top: 0;
}
.box4{
    background: lightblue;
}
