@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background: #555;
}
h1{
    text-align: center;
    color: #000;
    margin-top: 76px;
    font-size: 28px;
}
ul{
    width: 640px;
    display: flex;
    gap: 20px;
    margin: 73px auto 0;
}
ul>li{
    width: 200px;
    height: 84px;
}
ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #555 50%, #222 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 0 10px #fff;
    border-radius: 10px;
}
ul>li:hover a{
    background-image: linear-gradient(to bottom, #ff9835 50%, #cc0001 50%);
}