@charset "UTF-8";

/* CSS Document */
body {
    font-family: "맑은 고딕", "Malgun Gothic", "Apple SD Gothic Neo", "AppleGothic", "돋움", "Dotum", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 900px;
    margin: auto;
    border: 5px solid #000;
    padding: 10px;
}

li {
    list-style: none;
}

ul {
    width: 900px;
    height: 300px;
    background: #fff;
    margin-bottom: 10px;
}

ul .li1 {
    width: 293.3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333px;
    height: 300px;
    background: #1ddb17;
    float: left;
    font-size: 36px;
    text-align: center;
    line-height: 300px;
    margin-right: 10px;
    border-radius: 24px;
}

ul .li2 {
    width: 293.3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333px;
    height: 300px;
    background: #00d8ff;
    float: left;
    font-size: 36px;
    text-align: center;
    line-height: 300px;
    margin-right: 10px;
    border-radius: 24px;
}

ul .li3 {
    width: 293.3333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333px;
    height: 300px;
    background: #ffbb00;
    float: left;
    font-size: 36px;
    text-align: center;
    line-height: 300px;
    border-radius: 24px;
}

.box1 {
    width: 900px;
    height: 300px;
    background: #ffff00;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    line-height: 300px;
    margin-bottom: 10px;
    border-radius: 36px;
}

.box2 {
    width: 900px;
    height: 50px;
    background: #eee;
    font-size: 24px;
    font-style: italic;
    text-align: center;
    line-height: 50px;
    font-family: "궁서", "Gungsuh", sans-serif;
    font-weight: 900;
    border-radius: 16px 16px 0 0;
}