@charset "UTF-8";
body{
    height: 3000px;
}
*{
    margin: 0;
    padding: 0;
}
div{
    width: 1000px;
    height: 600px;
    background: gold;
    margin: auto;
    /* 해당요소에 배경이미지로 반복해서 채울때 */
    /* background-image: url(../images/icon.png); */
    /* 해당요소에 배경이미지를 가로로 반복해서 채울때*/
    /* background-repeat: repeat-x; */
    /* 해당요소에 배경이미지를 세로로 반복해서 채울때*/
    /* background-repeat: repeat-y; */
    /* 해당요소에 배경이미지를 반복해서 채우지 않고 하나만 채울때 */
    /* background-repeat: no-repeat; */
    /* 배경이미지 삽입할 때(short css) */
    /* background: gold url(../images/icon.png) repeat-x; */
    /* 배경이미지 위치 */
    /* background-image: url(../images/icon.png); */
    /* background-repeat: no-repeat; */
    /* 배경이미지 위치 설정 */
    background-position: center top;
    background-position: center center;
    background-position: center bottom;
    background-position: right top;
    background-position: right center;
    background-position: right bottom;
    background-position: left top;
    background-position: left center;
    /* 배경이미지 위치 설정2 */
    background-position: 50% 50%; /* 가로세로 50% */
    background-position: 100% 0%; /* 가로 100% 세로 0% */
    background-position: 90% 0%; /* 가로 90% 세로 0% */
    background-position: 50% 20%; /* 가로 50% 세로 20% */
    background-position: 50% 80%; /* 가로 50% 세로 80% */
    background-position: 50% 100%; /* 가로 50% 세로 100% */
    /* 배경이미지 위치 설정3 */
    background-position: 50px 100px; /* 가로 50px 세로 100px */
    /* short hand 방식 */
    /* background: gold url(../images/e1d72ad6-e69e-4ed6-a398-7bd28bc4df66.png) no-repeat 100% bottom; */
    /* background: gold url(../images/icon.png) no-repeat center center; */
    /* 배경이미지를 스크롤바에 의해서 스크롤/고정 */
    /* background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background: gold url("../images/icon.png") no-repeat 100px 0 fixed;
}