@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    width: 100%;
}
.main .shop{
    width: 100%;
    height: 523px;
    background: url(../images/bg-why-bottom.png) no-repeat center bottom, url(../images/bg-why-top.jpg) no-repeat center top;
    background-size: cover;
    padding: 50px 0 16px;
    text-align: center;
}
.main .shop h2{
    color: #fff;
}
.main .shop p{
    margin-bottom: 20px;
}
.main .shop p a{
    color: #fff;
    font-size: 14px;
}
.main .shop ul.list{
    width: 238px;
    margin: auto;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.main .shop ul.list li{
    width: 115px;
    height: 148px;
    border: 1px solid #fff;
}
.main .shop ul.list li a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 12px;
}
.main .shop ul.list li a h3{
    color: #b2d152;
    text-align: left;
}