@charset "UTF-8";

/* CSS Document */

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* content */
.box1{
    width: 100px;
    height: 100px;
    background: blue;
    color: #fff;
    text-align: center;
    line-height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    /* 애니메이션 실행 */
    /* 애니메이션 이름 */
    animation-name: box1_ani;
    /* 애니메이션 실행 시간 */
    animation-duration: 2s;
    /* 처음으로 돌아가지 않고 멈추기 */
    animation-fill-mode: forwards;
    /* 애니메이션 반복 횟수 */
    animation-iteration-count: infinite;
    /* 애니메이션 실행 지연시간 */
    animation-delay: 0s;
    /* 애니메이션 가속도 */
    animation-timing-function: ease-in-out;
    /* 애니메이션 방향 */
    animation-direction: alternate;
}
/* 애니메이션  설정*/
@keyframes box1_ani{
    0%{
        left: 0;
        top: 0;
    }
    100%{
        left: 1000px;
        top: 0;
    }
}
.box2{
    width: 100px;
    height: 100px;
    background: red;
    color: #fff;
    text-align: center;
    line-height: 100px;
    position: absolute;
    left: 0;
    top: 200px;
    /* 애니메이션 실행 약식 */
    animation: box2_ani 2s ease-in-out forwards infinite alternate;
}
@keyframes box2_ani{
    0%{
        left: 0;
        top: 200px;
    }
    25%{
        left: 250px;
        top: 200px;
        background: orange;
    }
    50%{
        left: 500px;
        top: 200px;
        background: yellow;
    }
    75%{
        left: 750px;
        top: 200px;
        background: green;
    }
    100%{
        left: 1000px;
        top: 200px;
        background: blue;
    }
}
.box3{
    width: 100px;
    height: 100px;
    background: purple;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    line-height: 100px;
    position: absolute;
    left: 0;
    top: 400px;
    /* 애니메이션 실행 약식 */
    animation: box3_ani 4s ease-in-out forwards infinite;
}
@keyframes box3_ani{
    0%{
        left: 0;
        top: 400px;
    }
    25%{
        left: 500px;
        top: 400px;
    }
    50%{
        left: 500px;
        top: 800px;
    }
    75%{
        left: 0;
        top: 800px;
    }
    100%{
        left: 0;
        top: 400px;
    }
}