@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

div {
    width: 802px;
    height: 602px;
    border: 1px solid #000;
    background-image: linear-gradient(to bottom, #069500, #fff);
    margin: 44px auto 0;
}

div>p {
    text-align: center;
    color: #000;
    font-size: 15px;
}
button{
    display: block;
    width: 128px;
    height: 43px;
    border: 1px solid #000;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #a0d8fb, #176cbd);
    font-size: 12px;
    color: #000;
    margin: 50px auto 0;
}