header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #777;
}

header .inner {
    width: 1200px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* 모바일 버튼이 pc기기에서는 숨김 */
.m_btn {
    display: none;
}

header .inner h1 {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

header .inner h1 a {
    display: block;
    font-size: 28px;
    color: #333;
    /* font-weight: 700; */
    letter-spacing: -1px;

}

header .inner nav {
    width: 100%;
    text-align: center;
}

header .inner nav .gnb {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 85px;
}

header .inner nav .gnb li a {
    font-size: 16px;
    color: #333;
}

header .inner .sns {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

header .inner .sns a {
    margin-left: 6px;
    font-size: 16px;
    color: #333;
}

main {
    width: 100%;
}

main .visual {
    width: 100%;
    height: 800px;
    background: url(../images/visual.jpg) no-repeat center top;
    position: relative;
}

main .visual .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main .visual .title h2 {
    font-size: 56px;
    color: #fff;
    font-weight: 900;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}

main .visual .title p {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    text-align: center;
    line-height: 36px;
    text-transform: capitalize;
}

main figure.first {
    padding: 100px 0;
    text-align: center;
}

main figure.first p {
    font-size: 18px;
    line-height: 42px;
    color: #666;
    text-transform: capitalize;
}

/* work 영역 */
main .work {
    width: 100%;
    padding: 90px 0 50px;
    background: #efefef;
}

main .work .inner,
main .news .inner {
    width: 1200px;
    margin: auto;
    text-align: center;
}

main .work .inner h2,
main .news .inner h2 {
    font-size: 36px;
    text-transform: capitalize;
}

main .work .inner p,
main .news .inner p {
    font-size: 16px;
    color: #666;
    margin: 16px 0 50px;
    text-transform: capitalize;
}

main .work .inner ul.list,
main .news .inner ul.list {
    display: flex;
    justify-content: space-evenly;
}

main .work .inner ul.list li,
main .news .inner ul.list li {
    width: 30%;
}

main .work .inner ul.list li a,
main .news .inner ul.list li a {
    display: block;
    width: 100%;
}

main .work .inner ul.list li a img,
main .news .inner ul.list li a img {
    width: 100%;
}

/* skill 영역 */
main .skill {
    width: 100%;
    padding: 100px 0;
}

main .skill .inner {
    width: 1200px;
    margin: auto;
}

main .skill .inner ul.list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

main .skill .inner ul.list li {
    width: 380px;
    text-align: center;
    padding-top: 110px;
}

main .skill .inner ul.list li:first-child {
    background: url(../images/ico_code.png) no-repeat center 30px;
    background-size: 50px;
}

main .skill .inner ul.list li:nth-child(2) {
    background: url(../images/ico_option.png) no-repeat center 30px;
    background-size: 50px;
}

main .skill .inner ul.list li:nth-child(3) {
    background: url(../images/ico_setting.png) no-repeat center 30px;
    background-size: 50px;
}

main .skill .inner ul.list li:nth-child(4) {
    background: url(../images/ico_support.png) no-repeat center 30px;
    background-size: 50px;
}

main .skill .inner ul.list li:nth-child(5) {
    background: url(../images/ico_tools.png) no-repeat center 30px;
    background-size: 50px;
}

main .skill .inner ul.list li:nth-child(6) {
    background: url(../images/ico_transper.png) no-repeat center 30px;
    background-size: 50px;
}

main .skill .inner ul.list li a {
    display: block;
    width: 100%;
}

main .skill .inner ul.list li a h3 {
    color: #6dc8fd;
    font-weight: 900;
    margin-bottom: 20px;
}

main .skill .inner ul.list li a p {
    color: #666;
    line-height: 20px;
}

/* 메인 이미지영역 2 */
main figure.second {
    width: 100%;
    height: 400px;
    background: url(../images/search01.png) no-repeat center;
    position: relative;
}

main figure.second p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

/* news 영역 */
main .news {
    width: 100%;
    padding: 90px 0 50px;
}

main .news .inner ul.list li a div.img {
    width: 100%;
}
main .news .inner ul.list li div.txt {
    text-align: right;
    margin-top: 20px;
}
main .news .inner ul.list li div.txt h3 {
    font-size: 24px;
    font-weight: 700;
    color: #666;
}
main .news .inner ul.list li div.txt p {
    margin: 12px 0;
}

/* today 영역 */
main .today{
    width: 100%;
    height: 240px;
    background: #f2f2f2;
    text-align: center;
}

main .today p {
    color: #333;
    font-size: 20px;
    font-weight: 700;
    padding-top: 80px;
}
main .today button.btn_today{
    width: 150px;
    height: 40px;
    background: #333;
    color: #fff;
    border-radius: 8px;
    margin-top: 30px;
}

/* footer 영역 */
footer {
    width: 100%;
    height: 56px;
    background: #555;
}

footer p {
    width: 100%;
    height: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
}

footer p span {
    color: #6dc8fd;
}