@media ( min-width:768px ) and ( max-width:1024px ){
    header{
        height: 120px;
    }
    header .inner{
        width: 100%;
        height: 120px;
    }
    header .inner h1{
        left: 50%;
        transform: translateX(-50%);
        top: 15px;
        /* background: gold; */
    }
    header .inner nav{
        padding-top: 70px;
    }
    header .inner .sns{
        display:none;
    }
    main .visual{
        height: 600px;
    }

    /* work 영역 */
    main .work .inner{
        width: 100%;
    }
    main .work .inner h2{
        font-size: 32px;
    }
    main .work .inner p{
        font-size: 15px;
    }

    /* skill 영역 */
    main .skill{
        padding: 0 20px;
    }
    main .skill .inner{
        width: 100%;
    }
    main .skill .inner ul.list li{
        width: 46%;
    }

    /* 메인 이미지영역 2 */
    main figure.second{
        margin-top: 100px;
    }

    /* 뉴스 영역 */
    main .news .inner{
        width: 100%;
    }
    main .news .inner ul.list li .txt h3{
        font-size: 20px;
    }
    main .news .inner ul.list li .txt p{
        font-size: 15px;
    }
}